<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title></title>


</head>

<body bgcolor="#99CC99">
<p>
  <% form_for :user, :url => { :action => "update",:id =>@user.id }do  %>
</p>
<p>&nbsp;</p>
<p class="style1">EDIT</p>
<p><label for="user_Details">Name</label>:
<%= text_field 'user', 'name' %></p>

<p><label for="user_email">Email</label>:
<%= text_field 'user', 'email' %></p>
<p><label for="user_mobilenumber">Mobile</label><br/>
<%= text_field 'user', 'phone' %></p>

<%= submit_tag "update"%>

<%= link_to "Delete", :action=>"delete" ,:id=> @user.id%><br />




<%end%>


</body>
</html>
